:root {
  --primary-color: #4A90E2;
  --background-color: #121212;
  --text-color: white;
  --sidebar-color: #181818;
  --sidebar-text-color: #ecf0f1;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.sidebar {
  height: 100vh;
  width: 150px;
  position: fixed;
  left: -250px;
  top: 0;
  background-color: var(--sidebar-color);
  padding-top: 60px;
  transition: left 0.3s;
  padding-left: 40px;
}
.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-decoration: none;
  color: var(--sidebar-text-color);
  font-size: 18px;
  transition: background 0.3s;
}
.sidebar a:hover {
  background-color: #333;
}
.menu-btn {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-color);
  background: none;
  border: none;
  z-index: 101;
}
.main-content {
  margin-left: 100px;
  padding: 20px;
}
.menu-container {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 102;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  text-align: left;
  width: 0;
  animation: 
    typing 3.5s steps(14, end) forwards,
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 10ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}